---
import { css } from 'styled-system/css';
import Footer from '@components/Footer.astro';
import LayoutShell from '@components/LayoutShell.astro';
import ShellLine from '@components/ShellLine.astro';
import Layout from '@layouts/Layout.astro';

const title = 'thekorn.dev | Oops...';
const currentPath = Astro.url.pathname;

const container = css({
  padding: '6',
});

const header = css({
  marginBottom: '10',
});

const h1 = css({
  fontSize: '3xl',
  fontWeight: 'bold',
  color: 'fg0',
});

const section = css({
  marginBottom: '10',
});

const body = css({
  fontSize: 'lg',
  lineHeight: 'relaxed',
  color: 'fg',
  marginBottom: '6',
});
---

<Layout title={title}>
  <LayoutShell path="~/404.html">
    <div class={container}>
      <header class={header}>
        <ShellLine>echo $?</ShellLine>
        <h1 class={h1}>404 - Page Not Found</h1>
      </header>

      <section class={section}>
        <ShellLine>curl {currentPath}</ShellLine>
        <p class={body}>
          404 Not Found
          <br />
          <small>
            exit code: 1 <br />
            reason: skill issue
          </small>
        </p>
      </section>
      <Footer>cd ~</Footer>
    </div>
  </LayoutShell>
</Layout>
